.vs/
BeetleX.MQTT/obj/
BeetleX.MQTT/Properties/
BeetleX.MQTT/bin/
BeetleX.MQTT.Server/obj/
*.dll
BeetleX.MQTT.Server.ConsoleApp/bin/
BeetleX.MQTT.Server.ConsoleApp/obj/
BeetleX.MQTT.Server/bin/
BeetleX.MQTT.Node/obj/
BeetleX.MQTT.Node/bin/
BeetleX.MQTT.ClientApp/bin/
BeetleX.MQTT.ClientApp/obj/
BeetleX.MQTT.SubscriberClient/bin/
BeetleX.MQTT.SubscriberClient/obj/
